---
---

<h1>Welcome to my website.</h1>
This is just my personal website. It has a few purposes, but the blog is for
reviewing and learning new things. I hope that it improves my mental
permanence or at least give me a personal archive.
<br /><br />
<h1>Latest Blog Post:</h1>
{% for post in site.posts limit:site.data.theme.num_home_posts %}
<div class="post-header-home">
  <h2 class="post-title-home">
    <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
  </h2>
  {% include post-header-home.html %}
</div>
<div class="post-excerpt-home">
  {{ post.excerpt }}
  <p class="text-right"><a href="{{ post.url | prepend:site.baseurl }}">Continue Reading &rarr;</a></p>
</div>
{% endfor %}
<hr>
